@import '../../variables';
@import '../../mixins';

.footer {
    background-color: $primary-bg-dark;
    padding: 16px 0;
    border-top: 1px solid $primary-bg-light;
    color: $off-white;
}
.footer-items {
    display: flex;
    align-items: center;
}

.footer-item {
    padding: 16px;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
}

.footer-link {
    color: $off-white;
    font-size: 16px;
}
