@import './variables';

@mixin flexWrap {
    display: flex;
    flex-wrap: wrap;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin lastChildMarginZero {
    &:last-child {
        margin: 0;
    }
}

@mixin transition-ease {
    transition: all 250ms ease-in-out;
}

$mobile-xs: 500px;
$mobile: 768px;
$tablet: 1023px;
$desktop: 1215px;
$widescreen: 1407px;
$fullhd: 1480px;

@mixin media-mobile-xs-500 {
    @media only screen and (max-width: 500px) {
        @content;
    }
}
@mixin media-mobile-768 {
    @media only screen and (max-width: 768px) {
        @content;
    }
}
@mixin media-mobile-845 {
    @media only screen and (max-width: 845px) {
        @content;
    }
}
@mixin media-tablet-1024 {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}
@mixin media-desktop-1215 {
    @media only screen and (max-width: 1215px) {
        @content;
    }
}
@mixin media-desktop-1280 {
    @media only screen and (max-width: 1280px) {
        @content;
    }
}
@mixin media-desktop-1310 {
    @media only screen and (max-width: 1310px) {
        @content;
    }
}
@mixin media-widescreen-1407 {
    @media only screen and (max-width: 1407px) {
        @content;
    }
}
