@import '../../variables';
@import '../../mixins';

.label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
}

.select {
    position: relative;
    select {
        -webkit-appearance: none; // Removes default styling in WebKit browsers
        -moz-appearance: none; // Removes default styling in Mozilla browsers
        appearance: none; // Removes default styling
        background-color: transparent;
        padding: 10px 12px;
        border-radius: 4px;
        min-width: 100%;
        border: 1px solid $primary-gray;
        color: $primary-gray;
        font-size: 15px;
        font-weight: 500;
        font-family: inherit;
        &:focus-visible {
            outline: none;
            box-shadow: 0 0 0 2px $primary;
        }
        &::placeholder {
            font-size: 14px;
            font-weight: 300;
            color: $primary-gray;
            opacity: 0.5;
            font-family: inherit;
        }
        &.large {
            font-size: 14px;
            line-height: 150%;
            padding: 11px 16px;
        }
    }
    &:after {
        content: '';
        position: absolute;
        right: 10px; // Adjust as needed
        top: 50%; // Center vertically
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $primary-gray; // Adjust color as needed
        pointer-events: none; // Prevents the pseudo-element from being clickable
    }
}
.error-wrapper {
    display: block;
}
.error-msg {
    color: #fb5151;
    font-style: italic;
    font-size: 14px;
}

@include media-mobile-768 {
}
