@import '../../variables';
@import '../../mixins';

.blog-page {
    background-color: $primary-bg;
    padding-top: 100px;
    color: $off-white;
}

.title {
    font-size: 40px;
    color: $white;
}
.update-date {
    margin: 20px 0;
}
.right-column-title {
    font-size: 30px;
    font-weight: 600;
    color: $off-white-lighter;
    margin-bottom: 20px;
}
.blog-card-tags {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    &.top {
        margin-bottom: 20px;
    }
}
.blog-tag-wrapper {
    padding: 5px;
}

.blog-card-tag {
    display: inline-block;
    background-color: $primary-bg-light;
    padding: 8px 16px;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 500;
    @include transition-ease;
    &:hover {
        background-color: $primary-bg;
        text-decoration: none;
    }
    &.dark {
        background-color: $primary-bg-dark;
        &:hover {
            background-color: $primary-bg-light;
            text-decoration: none;
        }
    }
}
.blog-card-image-wrapper {
    width: 800px;
    height: 440px;
    position: relative;
}

.blog-image {
    border-radius: 8px 8px 0 0;
}

.main-content-wrapper {
    background-color: $primary-bg-middle;
    padding: 40px 20px;
    border-radius: 0 0 8px 8px;
}

.title-section {
    width: 800px;
}
.main-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 80px;
}
.main-content {
    width: 800px;
}
.right-column {
    margin-left: 40px;
}
.toc-wrapper {
    position: sticky;
    top: 40px;
    right: 0;
    left: 0;
}
.markdown {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid $off-white;
    h2 {
        font-size: 30px;
        margin: 36px 0 16px;
    }
    h3 {
        font-size: 25px;
        margin: 26px 0 16px;
    }
    h4 {
        font-size: 20px;
        margin: 20px 0 16px;
    }
    h5 {
        font-size: 15px;
        margin: 20px 0 16px;
    }
    h6 {
        font-size: 10px;
        margin: 20px 0 16px;
    }
    p {
        margin-bottom: 20px;
        code {
            background-color: $primary-bg-light;
            padding: 2px 6px;
            border-radius: 4px;
        }
    }
    strong {
        font-weight: 700;
    }
    a {
        color: $primary;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    ul {
        margin-bottom: 20px;
        margin-left: 20px;
        li {
            list-style: square;
            margin-bottom: 10px;
        }
    }
    ol {
        margin-bottom: 20px;
        margin-left: 20px;
        li {
            list-style: decimal;
            margin-bottom: 10px;
            ul {
                margin-left: 20px;
                li {
                    list-style: square;
                }
            }
        }
    }
    blockquote {
        margin-bottom: 20px;
        margin-left: 20px;
        padding-left: 20px;
        border-left: 2px solid $primary;
    }
    code {
        background-color: $primary-bg-dark;
        padding: 2px 4px;
        border-radius: 4px;
    }
    pre {
        background-color: $primary-bg;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 20px;
        code {
            background-color: transparent;
            padding: 0;
            border-radius: 0;
        }
    }
    img {
        border-radius: 8px;
        margin-bottom: 40px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;

        th {
            background-color: $primary-bg-dark;
            color: $white;
            padding: 8px;
            border: 1px solid $off-white;
        }
        td {
            padding: 8px;
            border: 1px solid $off-white;
        }
        p {
            margin-bottom: 0;
        }
    }
    hr {
        margin-bottom: 20px;
    }
}
