@import '../../variables';
@import '../../mixins';

.blog-card {
    background-color: $primary-bg-dark;
    // border: 1px solid $primary-bg-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &.dark {
        background-color: $primary-bg;
    }
}
.text-section {
    padding: 32px;
}
.top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.blog-card-tags {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    // max-width: 50%;
    padding-right: 30px;
}
.blog-tag-wrapper {
    padding: 5px;
}
.blog-card-tag {
    display: inline-block;
    background-color: $primary-bg-light;
    padding: 8px 16px;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 500;
    @include transition-ease;
    &:hover {
        background-color: $primary-bg;
        text-decoration: none;
    }
}
.blog-card-date {
    color: $off-white;
    font-size: 16px;
}
a.blog-card-title {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    color: $off-white-lighter;

    @include transition-ease;
    &:hover {
        text-decoration: none;
        color: $primary;
    }
}
.blog-card-description {
    color: $off-white;
    margin-bottom: 0;
    margin-top: 20px;
}
.img-holder {
    display: flex;
    justify-content: flex-end;
}
.blog-card-image-wrapper {
    position: relative;
    width: calc(100% - 32px);
    height: 384px;
    // margin-left: 32px;
}
.blog-card-img {
    border-top-left-radius: 16px;
}

@include media-desktop-1280 {
    .text-section {
        padding: 5%;
    }
    .blog-card-image-wrapper {
        position: relative;
        width: 95%;
    }
}

@include media-desktop-1280 {
    .top-section {
        // display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .blog-card-tags {
        width: 100%;
        margin-bottom: 20px;
    }
}

@include media-tablet-1024 {
    a.blog-card-title {
        font-size: 22px;
    }
    .blog-card-image-wrapper {
        height: 325px;
    }
}
