@import '../variables';
@import '../mixins';

.main {
    padding: 80px 0;
    background-color: $primary-bg;
    color: $white;
}

.content-section {
    margin-bottom: 40px;
    h2 {
        margin-bottom: 30px;
    }
    > p {
        color: $off-white;
        margin-bottom: 20px;
        @include lastChildMarginZero;
        max-width: 350px;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
}
.project-wrapper {
    width: 50%;
    padding: 20px;
}
.project {
    background-color: $primary-bg-dark;
}
.text-section {
    padding: 32px;
    position: relative;
}
.project-type {
    color: $primary;
}
.project-name {
    color: $off-white-lighter;
    font-size: 24px;
    font-weight: 600;
}
.img-holder {
    display: flex;
    justify-content: flex-end;
}
.img-wrapper {
    position: relative;
    width: 540px;
    height: 270px;
}
.img {
    border-top-left-radius: 16px;
}

.icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    top: 24px;
}
