@import '../variables';
@import '../mixins';

.main {
    padding: 80px 0;
    background-color: $primary-bg;
    color: $white;
}

.content-section {
    margin-bottom: 40px;
    h2 {
        margin-bottom: 30px;
    }
    > p {
        color: $off-white;
        margin-bottom: 20px;
        @include lastChildMarginZero;
        max-width: 650px;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
}
.project-wrapper {
    width: 50%;
    padding: 20px;
}
.project {
    background-color: $primary-bg-dark;
}
.text-section {
    padding: 32px;
    position: relative;
}
.project-type {
    color: $primary;
}
.project-name {
    color: $off-white-lighter;
    font-size: 24px;
    font-weight: 600;
}
.img-holder {
    display: flex;
    justify-content: flex-end;
}
.img-wrapper {
    position: relative;
    // border: 1px solid $primary-bg-light;
    border-top-left-radius: 16px;
    background-color: $white;
    // width: 540px;
    width: calc(100% - 32px);
    height: 270px;
}
.img {
    border-top-left-radius: 16px;
}

.icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    top: 24px;
}
@include media-desktop-1280 {
    .text-section {
        padding: 5%;
    }
    .img-wrapper {
        position: relative;
        width: 95%;
        height: 270px;
    }
}
@include media-desktop-1215 {
}
@include media-tablet-1024 {
    .project-type {
        color: $primary;
        // font-size: 16px;
    }
    .project-name {
        font-size: 20px;
    }
    .projects {
        margin: -10px;
    }
    .project-wrapper {
        padding: 10px;
    }

    // .text-section {
    //     padding: 32px;
    // }
    // .img-wrapper {
    //     width: 100%;
    //     height: 270px;
    // }
}

@include media-mobile-800 {
    .projects {
        flex-wrap: wrap;
        // margin: -15px;
    }
    .project-wrapper {
        width: 100%;
    }
    .text-section {
        padding: 20px 5%;
    }
    .img-wrapper {
        // width: 97.5%;
        height: 350px;
    }
}

@include media-mobile-xs-500 {
    .img-wrapper {
        position: relative;
        width: 95%;
        height: 225px;
    }
    .project-type {
        font-size: 16px;
    }
    .project-name {
        font-size: 16px;
    }
}
@include media-mobile-xs-390 {
    .img-wrapper {
        height: 175px;
    }
}
