@import '../variables';
@import '../mixins';

.main {
    padding: 80px 0;
    background-color: $primary-bg-dark;
    color: $white;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}

.intro-text {
    color: $off-white;
    margin: 30px 0;
    max-width: 350px;
}

@include media-desktop-1215 {
}

@include media-tablet-1024 {
    .text-section {
        padding-right: 40px;
    }
}

@include media-mobile-800 {
    .sections {
        flex-wrap: wrap;
    }
    .text-section {
        width: 100%;
        padding-right: 0;
    }
    .intro-text {
        max-width: 100%;
    }
    .form-wrapper {
        padding-top: 60px;
    }
}

@include media-mobile-768 {
}

@include media-mobile-xs-500 {
    .form-wrapper {
        width: 100%;
    }
}
