@import '../variables';
@import '../mixins';

.main {
    padding: 100px 0 80px;
    background-color: $primary-bg;
    color: $white;
    z-index: 1;
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.text-section {
    max-width: 680px;
}

.intro-text {
    color: $off-white;
    max-width: 350px;
    margin-bottom: 30px;
}
/* BANNER */
.banner-wrapper {
    background-color: $primary-bg;
    position: relative;
}
.absolute-bg {
    background-color: $primary-bg-dark;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% / 2);
    z-index: 0;
}
.banner {
    background-color: $primary-bg-light;
    padding: 40px;
    position: relative;
    z-index: 1;
}
.inside-block {
    background-color: $primary-bg;
    padding: 20px;
}
.banner-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-item-title {
    font-size: 32px;
    line-height: 100%;
    font-weight: 600;
    color: $primary;
}
.banner-item-description {
    font-size: 16px;
    line-height: 100%;
    color: $gray;
    margin-top: 6px;
}
.profile-pic-800px-wrapper {
    position: relative;
    width: 330px;
    height: 330px;
    display: none;
}
.find-me-para {
    display: flex;
    align-items: center;
    span {
        display: block;
        color: $primary;
    }
}
.text {
    font-size: 18px;
    line-height: 18px;
}
.icon-arrow {
    margin-left: 20px;
    margin-right: 16px;
    width: 18px;
    height: 18px;
    svg {
        width: 18px;
        height: 18px;
    }
}

@include media-desktop-1215 {
    .img-section-wrapper {
        img {
            width: 400px;
            height: 400px;
        }
    }
}
@media screen and (max-width: 1075px) {
    .img-section-wrapper {
        img {
            width: 355px;
            height: 355px;
        }
    }
}

@include media-desktop-1215 {
    .banner {
        padding: 30px;
    }
    .inside-block {
        padding: 20px;
    }
}

@include media-tablet-1024 {
    .banner {
        padding: 20px;
    }
    .inside-block {
        padding: 20px;
    }
    .banner-item-title {
        font-size: 28px;
    }
    .banner-item-description {
        font-size: 16px;
    }
}

@include media-mobile-800 {
    .sections {
        flex-wrap: wrap;
    }

    .intro-text {
        max-width: 100%;
    }
    .img-section-wrapper {
        display: none;
        margin-top: 80px;
        width: 100%;
        img {
            width: 300px;
            height: 300px;
        }
    }
    .profile-pic-800px-wrapper {
        display: block;
        margin-bottom: 20px;
    }
    .profile-pic-800px {
    }
    .banner-items {
        flex-wrap: wrap;
    }
    .inside-block {
        padding: 10px;
    }
    .banner-item {
        width: 50%;
        padding: 10px;
    }
    .banner-item-title {
        font-size: 20px;
    }
    .banner-item-description {
        font-size: 14px;
    }
}

@include media-mobile-xs-500 {
    .banner {
        padding: 10px;
    }
    .banner-item {
        padding: 5px;
    }
    .text-section {
        max-width: 100%;
    }
    .profile-pic-800px-wrapper {
        position: relative;
        width: 176px;
        height: 176px;
        // border-radius: 50%;
        // border:1px solid $primary;
        object-fit: contain;
        // img {
        //     border-radius: 50%;
        // }
    }
    .banner-item-description {
        line-height: 150%;
    }
    .find-me-para {
        .text {
            display: none;
            // font-size: 16px;
        }
        .icon-arrow {
            display: none;
        }
    }
}

@media only screen and (max-width: 375px) {
    .find-me-para {
        .text {
            display: none;
        }
        .icon-arrow {
            margin-left: 0;
        }
    }
}
