@import '../variables';
@import '../mixins';

.main {
    padding: 80px 0;
    background-color: $primary-bg-dark;
    color: $white;
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}

.intro-text {
    color: $off-white;
    margin: 30px 0;
}

.banner {
    background-color: $primary-bg-light;
    padding: 40px;
    position: relative;
    z-index: 1;
}

.img-section-wrapper {
    min-width: 450px;
    margin-right: 40px;
}

.about-details-blocks {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
}
.about-details-block-wrapper {
    padding: 20px;
    width: 33.33%;
}
.about-details-block {
    font-size: 20px;
    border-bottom: 1px solid $off-white-lighter;
}
.about-details-block-name {
    color: $primary;
    font-size: 18px;
    text-transform: capitalize;
}
.about-details-block-value {
    margin-top: 10px;
    padding-bottom: 20px;
    font-weight: 600;
    color: $off-white;
}

@include media-desktop-1215 {
}

@include media-tablet-1024 {
}

@include media-mobile-768 {
}

@include media-mobile-xs-500 {
}
