@import '../variables';
@import '../mixins';

.main {
    padding: 100px 0 80px;
    background-color: $primary-bg;
    color: $white;
    z-index: 1;
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.text-section {
    max-width: 680px;
}

.intro-text {
    color: $off-white;
    max-width: 350px;
    margin-bottom: 30px;
}
/* BANNER */
.banner-wrapper {
    background-color: $primary-bg;
    position: relative;
}
.absolute-bg {
    background-color: $primary-bg-dark;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% / 2);
    z-index: 0;
}
.banner {
    background-color: $primary-bg-light;
    padding: 40px;
    position: relative;
    z-index: 1;
}
.inside-block {
    background-color: $primary-bg;
    padding: 20px;
}
.banner-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-item-title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    color: $primary;
}
.banner-item-description {
    font-size: 16px;
    line-height: 16px;
    color: $gray;
    margin-top: 6px;
}

@include media-desktop-1215 {
}

@include media-tablet-1024 {
}

@include media-mobile-768 {
}

@include media-mobile-xs-500 {
}
