@import '../variables';
@import '../mixins';

.main {
    padding-bottom: 80px;
    background-color: $primary-bg-dark;
    color: $off-white;
    h2 {
        margin-bottom: 30px;
        color: $white;
    }
    p {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.content-section {
    position: relative;
    z-index: 1;
}

p.skills-grade {
    display: flex;
    align-items: center;
    // color: $white;
    font-weight: 600;
    margin-bottom: 16px;
}
.color-block {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    &.green {
        background-color: #2fa993;
    }
    &.pink {
        background-color: #be5da9;
    }
    &.yellow {
        background-color: #99b333;
    }
    &.red {
        background-color: #df8b3d;
    }
}

/* BANNER */
.banner-wrapper {
    background-color: $primary-bg-dark;
    position: relative;
}
.absolute-bg {
    background-color: $primary-bg;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% / 2);
    z-index: 0;
}
.banner {
    background-color: $primary-bg-light;
    padding: 40px;
    position: relative;
    z-index: 1;
}
.inside-block {
    background-color: $primary-bg;
    padding: 20px;
}

.banner-items {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.skill-item-wrapper {
    padding: 10px;
}
.skill-item {
    p.skills-grade {
        margin-bottom: 0;
        font-size: 16px;
        color: $off-white-lighter;
    }
    .color-block {
        width: 16px;
        height: 16px;
    }
}

@include media-desktop-1215 {
    .banner {
        padding: 30px;
    }
    .inside-block {
        padding: 20px;
    }
    .banner-items {
        margin: -5px;
    }
    .skill-item-wrapper {
        padding: 5px;
    }
}
@include media-tablet-1024 {
    .banner {
        padding: 20px;
    }
    .inside-block {
        padding: 20px;
    }
}
