@import '../variables';
@import '../mixins';

.main {
    background-color: $primary-bg;
    color: $off-white;
    position: relative;
}
.absolute-bg {
    background-color: $primary-bg-dark;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% / 2);
    z-index: 0;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    position: relative;
    z-index: 1;
}

.testimonial-wrapper {
    padding: 15px;
    width: 33.33%;
}
.testimonial {
    background-color: $primary-bg-light;
    padding: 24px;
    position: relative;
}
.testimonial-name {
    font-size: 24px;
    font-weight: 600;
    color: $off-white-lighter;
}
.testimonial-rating {
    margin-top: 4px;
}
.testimonial-company {
    font-size: 16px;
    margin: 10px 0 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.testimonial-headline {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.speech-mark-right-bg {
    position: absolute;
    right: 16px;
    top: 16px;
}

@include media-desktop-1215 {
    .testimonial-name {
        font-size: 20px;
    }
    .testimonial-description {
        p {
            font-size: 18px;
        }
    }
    .speech-mark-right-bg {
        max-width: 36px;
    }
    .testimonials {
        // margin: -5px;
    }

    .testimonial-wrapper {
        // padding: 5px;
        width: 33.33%;
    }
    .testimonial {
        border: 1px solid $primary-bg;
    }
}

@include media-tablet-1024 {
    .testimonials {
        margin: -10px;
        flex-wrap: wrap;
    }

    .testimonial-wrapper {
        padding: 10px;
        width: 100%;
    }
}
