@import '../../variables';
@import '../../mixins';

.wrapper {
    display: flex;
}

.icon {
    width: 24px;
    height: 24px;
    color: green;
    margin-right: 12px;
}

.title {
    font-size: 18px;
}
.description {
    margin: 12px 0 16px;
    font-size: 15px;
}
